.profile-settings {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .setting-item {
    margin-bottom: 15px;
  }
  
  .setting-item label {
    display: block;
    margin-bottom: 5px;
  }
  
  .setting-item input[type="checkbox"] {
    appearance: none;
    width: 50px;
    height: 28px;
    background-color: #d1d5db;
    border-radius: 9999px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .setting-item input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
  }

  .setting-item input[type="checkbox"]:checked {
    background-color: rgb(109, 159, 113);
  }
  
  .setting-item input[type="checkbox"]:checked::before {
    transform: translateX(22px);
  }

  .setting-item input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .setting-item button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .setting-item button:hover {
    background-color: #0056b3;
  }

  